<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.khronos.openxr.runtime_broker">
    <!--
        Copyright 2020-2021, Collabora, Ltd.
        SPDX-License-Identifier: BSL-1.0
    -->

    <!-- For Android 11 compat: We need to be able to query package manager for this intent. -->
    <queries>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
        <!-- We also want to be able to look at the system broker, if any -->
        <provider android:authorities="org.khronos.openxr.system_runtime_broker" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="AllowBackup">
        <provider
            android:name="org.khronos.openxr.runtime_broker.InstallableRuntimeBroker"
            android:authorities="org.khronos.openxr.runtime_broker"
            android:enabled="true"
            android:exported="true"
            android:readPermission="org.khronos.openxr.permission.OPENXR" />
    </application>

</manifest>