<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.khronos.openxr.broker_lib">
    <!--
        Copyright 2020-2021, Collabora, Ltd.
        SPDX-License-Identifier: BSL-1.0
    -->

    <!-- For Android 11 compat: We need to be able to query package manager for this intent. -->
    <queries>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
    </queries>

    <!-- Define permissions to be used by OpenXR applications -->
    <!-- TODO: do we add android:permissionGroupFlags="personalInfo" ? -->
    <permission-group
        android:name="org.khronos.openxr.permission-group.OPENXR"
        android:description="@string/permgroupdesc_openxr"
        android:label="@string/permgrouplab_openxr"
        />


</manifest>